/**
 * @file _base.scss
 * @author Tobiasz Szerszeń
 * @group elements
 *
 * @description
 * Definiuje najbardziej podstawowe style dla elementu `<body>`.
 * Stosuje globalne zmienne motywu (jasny/ciemny) i ustawia domyślną
 * czcionkę dla całej aplikacji.
 */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  background-color: var(--bg);

  // Poprawia renderowanie czcionek na różnych systemach
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
