:root {
  /* Basic zmienne */
  --bg: #fff;
  --text: #000;
  --accent: #3b82f6;
  --accent2: #4f46e5;
  /* Zmienne do formularzy */
  --field-bg: #f9fafb;
  --border: #d1d5db;
  --error: #fee2e2;
  --success: #acdbac;
  /* Zmienne do footera */
  --muted-text: #4b5563;
  --subtle-border: #e5e7eb;
  --footer-bg: #f9fafb;
  --footer-icon: #6b7280;
}

body.dark {
  --bg: #212325;
  --text: #fff;
  --accent: #3b82f6;

  --field-bg: #2a2d30;
  --border: #3f3f46;
  --error: #e26767;
  --success: #73c973;

  --muted-text: #d1d5db;
  --subtle-border: #2a2a2a;
  --footer-bg: #1a1c1e;
  --footer-icon: #9ca3af;
}